In [1]:
#Importing libraries

from path import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

In [2]:
# Read in the data
# Note: The following data has been normalized between 0 and 1
data = Path('../Resources/train_data_dec18.csv')
df = pd.read_csv(data)
df.head()

  Trip_date      Occupancy_Status  Occupancy_Cat
0  1-Dec-18  Many Seats Available              1
1  1-Dec-18  Many Seats Available              1
2  1-Dec-18  Many Seats Available              1
3  1-Dec-18  Many Seats Available              1
4  1-Dec-18  Many Seats Available              1

In [7]:
# Filling in NaNs

df.fillna("", inplace=True)
dec_df = df.drop(["Trip_date"], axis=1)
dec_df.tail()

            Occupancy_Status  Occupancy_Cat
329099  Many Seats Available              1
329100  Many Seats Available              1
329101  Many Seats Available              1
329102  Many Seats Available              1
329103  Many Seats Available              1

In [8]:
 # Segment the features from the target
y = dec_df["Occupancy_Status"]
X = dec_df.drop(columns="Occupancy_Status")

In [9]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(246828, 1)

In [10]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
classifier = SVC(kernel='linear')
classifier

SVC(kernel='linear')

In [11]:
# Fit the data
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [12]:
# Score the accuracy
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9875095207999093
Testing Data Score: 0.9875054693956925

In [13]:
# Make predictions using the test data
predictions = classifier.predict(X_test)
results = pd.DataFrame({
    "Prediction": predictions, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

             Prediction                Actual
0  Many Seats Available  Many Seats Available
1  Many Seats Available  Many Seats Available
2  Many Seats Available  Many Seats Available
3  Many Seats Available  Many Seats Available
4  Many Seats Available  Many Seats Available

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 3927,     0,     0],
       [    0, 77321,     0],
       [ 1028,     0,     0]], dtype=int64)

In [15]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

C:\Users\ddout\anaconda3\envs\dev\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ddout\anaconda3\envs\dev\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                      precision    recall  f1-score   support

 Few Seats Available       0.79      1.00      0.88      3927
Many Seats Available       1.00      1.00      1.00     77321
  Standing Room Only       0.00      0.00      0.00      1028

            accuracy                           0.99     82276
           macro avg       0.60      0.67      0.63     82276
        weighted avg       0.98      0.99      0.98     82276

C:\Users\ddout\anaconda3\envs\dev\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))